footer {
    height: 64px;
    width: 100%;
    background-color: #161619;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer > img {
    height: 25px;
}